:root {
  --primary-hue: 28deg;
  --primary-saturation: 89%;
  --primary-lightness: 56%;
}


.hx-max-w-screen-xl {
  /* max-width: 1280px; */
  max-width: none;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  src: url('/fonts/PretendardStd-Black.woff2') format('woff2');
}
@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  src: url('/fonts/PretendardStd-ExtraBold.woff2') format('woff2');
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  src: url('/fonts/PretendardStd-Bold.woff2') format('woff2');
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  src: url('/fonts/PretendardStd-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  src: url('/fonts/PretendardStd-Medium.woff2') format('woff2');
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: url('/fonts/PretendardStd-Regular.woff2') format('woff2');
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  src: url('/fonts/PretendardStd-Light.woff2') format('woff2');
}
@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  src: url('/fonts/PretendardStd-ExtraLight.woff2') format('woff2');
}
@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  src: url('/fonts/PretendardStd-Thin.woff2') format('woff2');
}


body {
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hx-animate-fadeInUp {
  animation: fadeInUp 0.8s ease-out forwards;
}

.image-cover{
  background: linear-gradient(0deg, rgba(243,116,33,1) 0%, rgba(255,255,255,0.6166841736694677) 50%);
  border-radius: 0.75rem;
}
